<div class="light">
    <div id="imprint">
    <p>Dr. Regine Pabst<br />
    eingetragene Mediatorin nach dem ZivMediatG<br />
    Laxenburgerstraße 36, 2351 Wiener Neudorf<br />
    Jagdschlossgasse 9-11, 1130 Wien<br />
    <a href = "mailto: regine.pabst@pabst-mediation.at"> regine.pabst@pabst-mediation.at</a><br /></p>
  </div>

</div>
