body{
  font-family:  Helvetica,Verdana, Arial, sans-serif !important; 
  font-size: 20px;
}

/*rgb(137, 207, 240)-light blue
rgb(148, 170, 217)-less light blue
rgb(143, 147, 149)- grey*/

.headernavbutton, .headernav {
  
  background-color: white !important;
  color:  #756F6D!important;
  
  /*border: rgb(207, 171, 101) !important;*/
  
  position: float;
  left:0px;
  font-size: 20px
  
  
}
#header{
  
  padding:20px !important;
  width:100% ;
  
  }
#title{
  font-size:30px;
  justify-content: center !important;
  text-align: center;
  margin: auto;
  margin-top:300px;
  display: inline-block;
  width:100%;
  color: white;
  }
#titleslogan{
  font-size:30px;
  justify-content: center !important;
  text-align: center;
  margin: auto;
  margin-top:10px;
  display: inline-block;
  width:100%;
  color:white;
  
}

#zitat{
  padding-left:15%;
  padding-right:15%;
  padding-top:5%;
  padding-bottom:5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style:italic;
  font-size: 25px
  
}
#imprint{
  text-align: center;
}
.dark {
  
 /* background-color: rgb(133, 146, 158)!important;*/
  /*background-image: linear-gradient(rgba(133, 146, 158, 0.5), rgba(133, 146, 158, 1), rgba(133, 146, 158, 0.5))*/
background-color: rgba(117, 111, 109,0.3) ;
color: rgb(0, 84, 128);}
.linkdark{
  color:rgb(0, 84, 128);
}

.linkdark:hover{
 /* background-color: rgb(247,248,249)!important;*/
  color:#756F6D !important;
}
.light {
  background-color: rgba(214, 219, 223,0.2);
  color:#756F6D;
}
.headernavbutton{
  color:#756F6D;
}

.thick {
  font-weight:bold
  
}
ul.navbar-nav{
    height:100% !important;
  
    
}
.headernav{
  height:96px!important;
  justify-content: center !important;
  align-items: center !important; 
  float: right;
  margin: auto !important;
  vertical-align: middle;
}
.navbar{
   align-items: center ;
   margin-top:10px 
}
.headernavbutton {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  /*border-radius:10px !important; 
  border-color: black !important;
  border-style: solid !important;
  width:100%;
  height:100% !important;*/
}
.nav-item{
  height:100% !important
}
.headernavbutton:hover {
  /*background-color: rgba(117, 111, 109,0.3)!important;*/
  color: rgb(0, 84, 128) !important;
}
.heading{
  color: #005480 !important
  
}

.headernavbuttonexpand{
  margin-left: 1.5vw !important;
  width: 100%
}

.imagebackground{
  background-image: url('https://images.unsplash.com/photo-1431540015161-0bf868a2d407?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDc4NTAzNDl8&ixlib=rb-4.0.3&q=85');
/*  background-width:  100%;*/
  background-size: 100% auto;
  
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
 /* background-color: rgba(214, 219, 223,1) !important;*/
  padding: 10px;
  
}

.grid-item {
 /* background-color: rgba(255, 255, 255, 0.8);*/
  
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
p.cv{
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.rightborder{
  border-right: 1px solid rgba(117, 111, 109, 0.8);
}
.biborder{
  border-right: 1px solid rgba(117, 111, 109, 0.8);
  border-left: 1px solid rgba(117, 111, 109, 0.8);
}
.leftborder{
  border-left: 1px solid rgba(117, 111, 109, 0.8);
}

#frontimage{
  z-index:-100;
  width:100%;
  height: 100px;  
}

footer{
  text-align:center;
  height:50px;
}