
 
<div>
  <div class="grid-container light">
    <p class="cv"> Mein Name ist Dr. Regine Pabst. Ich bin Expertin für eh alles. Pinguine leben am Südpol. Ganz toll. Fliegen können sie halt nicht. Naja. Dafür gibts dann keine am Nordpol!</p>
  </div>
</div>
